#map_article {
	width: 100%;
	height: 200px;
}

#map_global {
	width: 100%;
	height: 400px;
}

.leaflet-popup-content-wrapper:hover, .leaflet-popup-content-wrapper:hover + .leaflet-popup-tip-container .leaflet-popup-tip, .leaflet-popup-tip-container:hover + .leaflet-popup-content-wrapper {
	background-color: #333;
	color: #fff;
}

.leaflet-popup-content-wrapper:hover a {
	color: #fff;
}